$off-black: #20222b;
$off-white: #dfe1f5;
// options
$light-gray: #a4a6b9;
$dark-gray: #3c4251;

// spacing
$m-font: 1rem;
$elements-width: 35rem;




// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// body{
//     font-family: "Helvetica Neue",Helvetica,Arial;
// }

